@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.custom-loader {
  width:100px;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#0077ff);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
  animation:s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}